@use "variables" as v;
.footer {
  background-color: v.$color-black;
  padding: 78px 10px 30px;
  @media screen and (max-width: v.$media-medium) {
    padding: 92px 0 35px;
  }
  @media screen and (max-width: v.$media-small) {
    padding: 53px 0 40px;
  }
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 42px 0;
    border: 1px solid #f2f2f2;
    border-radius: 139px;
    margin-bottom: 163px;
    max-width: 914px;
    @media screen and (max-width: v.$media-small) {
      max-width: 343px;
    }

    @media screen and (max-width: v.$media-medium) {
      padding: 21px 0;
      margin-bottom: 60px;
      white-space: wrap;
    }
    @media screen and (max-width: v.$media-small) {
      gap: 20px;
      padding: 10.5px 0;
      margin-bottom: 116px;
      white-space: wrap;
    }
    &--txt {
      display: flex;
      flex-direction: column;
      gap: 17px;
      @media screen and (max-width: v.$media-small) {
        gap: 4px;
      }
    }
    &--title {
      font-family: v.$font-dyna;
      font-weight: 700;
      font-size: 48px;
      color: v.$color-white;
      white-space: nowrap;
      @media screen and (max-width: v.$media-small) {
        font-size: 20px;
        white-space: wrap;
      }
    }
    &--book {
      font-family: v.$font-manrope;
      font-weight: 500;
      font-size: 24px;
      color: v.$color-white;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 24px;
      @media screen and (max-width: v.$media-small) {
        font-size: 15px;
      }
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
    &--icon {
      display: flex;
      gap: 34px;
      align-items: center;
    }
    &--copyright {
      font-family: v.$font-manrope;
      font-weight: 500;
      font-size: 16px;
      color: v.$color-white;
      @media screen and (max-width: v.$media-small) {
        font-size: 14px;
      }
    }
  }
  &__sun {
    background-image: url(../img/sun.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 108px;
    height: 108px;
    @media screen and (max-width: v.$media-small) {
      background-image: url(../img/sun-small.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 53px;
      height: 52px;
    }
  }
  &__arrow {
    @media screen and (max-width: v.$media-small) {
      width: 35px;
      height: 18px;
    }
  }
}
