@use "variables" as v;
.header {
  background: v.$color-black;
  position: sticky;
  top: 0;
  z-index: 100;

  &__wraper {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: v.$media-medium) {
      padding: 18px 34px;
    }
  }
  &__navigation {
    display: flex;
    gap: 20px;
    @media screen and (max-width: v.$media-medium) {
      display: none;
    }
  }
  &__item {
    padding: 10px 16px;
    border: 1px solid #fff;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    gap: 12px;
    align-items: center;
    font-family: v.$font-manrope;
    font-weight: 700;
    font-size: 16px;
    color: v.$color-white;
    &:hover {
      box-shadow: 0px 0px 0px 1px white inset;
    }
  }
  &__medium {
    display: none;
    @media screen and (max-width: v.$media-medium) {
      display: inline-block;
    }
  }
  &__text {
    font-family: v.$font-dyna;
    font-weight: 700;
    font-size: 80px;
    color: v.$color-white;
  }
}
