@use "variables" as v;
.about-design {
  background-image: url(../img/image.png);
  &__text {
    font-family: v.$font-dyna;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: v.$color-white;
    padding: 303px 0 323px;
    @media screen and (max-width: v.$media-medium) {
    padding: 274px 0 294px;      
    }
  }
}
