@use "variables" as v;
.employee {
    display: flex;
  background-color: v.$color-black;
  &__introduce {
    padding: 101px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__name {
    font-family: v.$font-dyna;
    font-weight: 700;
    font-size: 48px;
    color: #faeb49;
  }
  &__about {
    max-width: 524px;
    font-family: v.$font-manrope;
    font-weight: 500;
    font-size: 16px;
    color: v.$color-white;
  }
  &__achievements {
    display: flex;
    gap: 96px;
  }
  &__achievements--flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__achievements--count {
    font-family: v.$font-dyna;
    font-weight: 700;
    font-size: 48px;
    color: v.$color-white;
  }
  &__achievements--text {
    font-family: v.$font-manrope;
    font-weight: 700;
    font-size: 16px;
    color: v.$color-white;
  }
}
