@use "variables" as v;
.minimalizm {
  background: linear-gradient(225deg, #ffee32 0%, #d6d6d6 100%);
  height: 800px;
  padding-bottom: 119px;
  display: flex;align-items: end;
  @media screen and (max-width: v.$media-medium) {
    padding: 179px 0 130px;
  }
  @media screen and (max-width: v.$media-small) {
    padding: 329px 0 149px;
  }
  &__text {
    font-family: v.$font-dyna;
    font-weight: 700;
    font-size: 80px;
    color: v.$color-white;
    @media screen and (max-width: v.$media-small) {
      font-weight: 700;
      font-size: 48px;
    }
  }
}
