@use "variables" as v;
.graphic-design {
  background-color: v.$color-black;
  padding: 82px 0 138px;
  @media screen and (max-width: v.$media-medium) {
    padding: 82px 34px 129px;
  }
  @media screen and (max-width: v.$media-small) {
    padding: 58px 16px 93px;
  }
  &__title {
    font-family: v.$font-dyna;
    font-weight: 700;
    font-size: 80px;
    color: v.$color-white;
    margin-bottom: 38px;
    @media screen and (max-width: v.$media-small) {
      font-size: 36px;
      margin-bottom: 28px;
    }
  }
  &__relative {
    position: relative;
    &--first {
      margin-bottom: 26px;
      position: relative;
    }
  }
  &__absolute-item {
    position: absolute;
    top: 21%;
    right: 37%;
    @media screen and (max-width: v.$media-medium) {
      position: absolute;
      top: 21%;
      right: 33%;
      width: 227px;
      height: 227px;
    }
    @media screen and (max-width: v.$media-small) {
      width: 172px;
      height: 172px;
      position: absolute;
      top: 23%;
      right: 24%;
    }
    &--butterfly {
      position: absolute;
      top: 27%;
      left: 32%;
      @media screen and (max-width: v.$media-medium) {
        position: absolute;
        top: 19%;
        left: 29%;
        width: 147px;
        height: 151px;
      }
      @media screen and (max-width: v.$media-small) {
        top: 32%;
        left: 29%;
        width: 134px;
        height: 137px;
      }
    }
    &--asterix {
      position: absolute;
      top: 22%;
      left: 27%;
      @media screen and (max-width: v.$media-medium) {
        position: absolute;
        left: 23%;
        width: 183px;
        height: 177px;
      }
      @media screen and (max-width: v.$media-small) {
        width: 148px;
        height: 143px;
        position: absolute;
        top: 27%;
        left: 29%;
      }
    }
  }
  &__flex {
    display: flex;
    gap: 26px;
    @media screen and (max-width: v.$media-small) {
      flex-direction: column;
      gap: 32px;
    }
  }

  &__image {
    width: 100%;
    &--first {
      width: 100%;
      @media screen and (max-width: v.$media-small) {
        height: 325px;
      }
    }
    @media screen and (max-width: v.$media-medium) {
      height: 325px;
    }

    @media screen and (max-width: v.$media-small) {
      height: 325px;
    }
  }
}
