@use "variables" as v;
.about-design {
  background-image: url(../img/image.png);
  &__text {
    font-family: v.$font-dyna;
    font-weight: 700;
    font-size: 48px;
    color: v.$color-white;
    height: 800px;
    display: grid;
    place-items: center;
    text-align: center;
    @media screen and (max-width: v.$media-small) {
      height: 498px;
      font-size: 24px;      
    }
  }
}
