@use "variables" as v;
.mobile-app {
  background-color: v.$color-black-grey;
  height: 1460px;
  display: grid;
  place-items: center;
  // padding: 85px 0;
  @media screen and (max-width: v.$media-medium) {
    padding: 52px 0 122px;
  }
  @media screen and (max-width: v.$media-small) {
    padding: 52px 0 85px;
  }
  &__card {
    padding: 24px 20px;
    background-color: v.$color-white;
    border-radius: 24px;
    margin-bottom: 64px;
    @media screen and (max-width: v.$media-medium) {
      margin-bottom: 102px;
    }
    @media screen and (max-width: v.$media-small) {
      padding: 13px;
      margin-bottom: 63px;
    }
    &--small {
      @media screen  and (max-width: v.$media-small) {
        display: none;
      }

    }
  }
  &__image-wrapper {
    position: relative;
  }
  &__image {
    width: 100%;
    margin-bottom: 20px;
    &--small {
      @media screen and (max-width: v.$media-small) {
        height: 278px;       
      }
    }
  }
  &__image-arrow {
    position: absolute;
    top: 5%;
    right: 6%;
    width: 56px;
    height: 56px;
    @media screen and (max-width: v.$media-medium) {
      position: absolute;
      top: 5%;
      right: 8%;
    }
    &--media {
      display: none;
      @media screen and (max-width: v.$media-medium) {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 56px;
        height: 56px;
      }
    }
  }
  &__application {
    font-family: v.$font-dyna;
    font-weight: 600;
    font-size: 40px;
    color: v.$mobile-app-txt-color;
    margin-bottom: 22px;
  }
  &__explanation {
    font-family: v.$font-manrope;
    font-weight: 700;
    font-size: 16px;
    color: v.$color-black;
    max-width: 580px;
    line-height: normal;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    @media screen and (max-width: v.$media-medium) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }
    @media screen and (max-width: v.$media-small) {
    display: grid;
    grid-template-columns: 1fr;      
    }
    &--card {
      padding: 20px;
      background-color: v.$color-white;
      border-radius: 24px;
      box-sizing: border-box;
    }
    &--application {
      font-family: v.$font-dyna;
      font-weight: 700;
      font-size: 32px;
      color: v.$mobile-app-txt-color;
      margin-bottom: 22px;
    }
    &--explanation {
      font-family: v.$font-manrope;
      font-weight: 500;
      font-size: 16px;
      color: v.$color-black;
      @media screen and (max-width:v.$media-small) {
        font-size: 15px;
      }
    }
  }
  &__medium {
    @media screen and (max-width: v.$media-medium) {
      display: none;
    }
  }
  
}
