$font-manrope: "Manrope", sans-serif;
$font-dyna: "DynaPuff", sans-serif;
$color-white: #fff;
$color-black: #202020;
$color-black-grey: #3c3c3c;
$mobile-app-txt-color: #565656;
$media-medium: 768px;
$media-small: 380px;